<div class="container">
  <h5 class="title">Animal's details</h5>
  <div class="info card shadow-lg p-2">
    <div class="d-flex flex-row">
      <div class="m-2">
        <i class="fa fa-animal fa-2x"></i>
      </div>
      <div class="d-flex flex-column me-auto">
        <span class="fw-bold"
          >The name of the animal is {{ animal?.name }}
        </span>
        <span>Age: {{ animal?.age }}</span>
        <span>Breed: {{ animal?.breed }}</span>
        <span>Gender: {{ animal?.gender }}</span>
        <span>Species: {{ animal?.species }}</span>
      </div>
    </div>
  </div>
</div>
