html,
body {
  height: 100%;
  min-height: 100vh;
}

body {
  background-image: url("../../../../../assets/pictures/8bb1db5cac99980fd1ef03640276aab0.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

.love-title {
  font-size: 1.2rem;
  color: #411900;
  font-family: "Caveat", cursive;
  font-size: 1.7rem;
  font-weight: 600;
  font-style: normal;
}

.love-detail {
  font-size: 0.9rem;
  color: #411900;
  font-family: "Caveat", cursive;
  font-size: 1.5rem;
  font-weight: 600;
  font-style: normal;
}

.pink-background {
  background-color: #fbd5ab;
}

.card i {
  color: #411900;
}

.card button {
  background-color: #ffb07c;
  color: white;
}

.title-color {
  color: #fbd5ab;
  font-family: "Caveat", cursive;
  font-size: 3rem;
  font-weight: 600;
  font-style: normal;
}

.gif {
  position: fixed;
  bottom: 30px;
  right: 1000px;
  width: 130px;
  height: auto;
  z-index: 9999;
}
